In [2]:
a=10
b=15
c=a+b
print(c)

25

In [3]:
import math
math.sqrt(c)

5.0

In [8]:
radius=5
pi=3.14
area=pi*(radius**2)
print("area of circle: ",area)

area of circle:  78.5

In [17]:
# 1 kil8ometer equals 0.62137 miles
km=20
mile=km*0.62137
print(f"{km}km = {round(mile)}miles")

20km = 12miles

In [3]:
import random
randomnumber = random.randint(1, 10)
print(randomnumber)

4

In [4]:
name="AREEBA"
print(name)

AREEBA

In [25]:
age=21
print(age)

21

In [54]:
pi=3.14159
print(pi)
print(f"{pi:.2f}")

3.14159
3.14

In [71]:
num1=int(input())
num2=int(input())
sum=num1+num2
print("sum = ", sum)

30
20
sum =  50

In [5]:
var="is_true"
bool(var)

True

In [6]:
message="I m here"
print(message)

I m here

In [7]:
print(message[0])
print(message[-1])

I
e

In [8]:
len(message)

8

In [15]:
message[::-1]

'ereh m I'

In [16]:
word="AREEBA HERE"
print(word[0])

A

In [10]:
print(word[0])
print(word[1])
print(word[2])

A
R
E

In [17]:
print(word[-1])
print(word[-2])
print(word[-3])

E
R
E

In [18]:
print(word[::2])

AEB EE

In [19]:
word[::-1]

'EREH ABEERA'

In [20]:
sentence="AREEBA FATIMA, Student of Ai"
print(sentence.upper())
print(sentence.lower())

AREEBA FATIMA, STUDENT OF AI
areeba fatima, student of ai

In [21]:
print('Number of occurrence of A:', sentence.count('A'))

Number of occurrence of A: 5

In [22]:
sentence.replace("Ai", "BS_MATHEMATICS")

'AREEBA FATIMA, Student of BS_MATHEMATICS'

In [23]:
NAME='AREEBA FATIMA'
AGE=21
CITY='HYDERABAD'
print(f"MY NAME IS {NAME}. I'M {AGE} YEARS OLD. I LIVE IN {CITY}")

MY NAME IS AREEBA FATIMA. I'M 21 YEARS OLD. I LIVE IN HYDERABAD

In [24]:
number = 1
number2 = 2
print(f"{number:02d}")
print(f"{number2:02d}")

01
02

In [25]:
price=4.67
currency="${:,.2f}".format(price)
print(currency)

$4.67

In [26]:
percent = 12.56
print(f'Percentage: {percent}%')

Percentage: 12.56%

In [28]:
prime=int(input())
if prime > 1:
    for i in range(2, int(prime/2)+1):
        if (prime % i) == 0:
            print(prime, "is not a prime number")
            break
    else:
        print(prime, "is a prime number")
else:
    print(prime, "is not a prime number")

6
6 is not a prime number

In [83]:
import math
print(math.factorial(5))

120

In [84]:
width=int(input())
height=int(input())
area=width*height
print("area of triangle = ",area)

8
4
area of triangle =  32

In [6]:
mylist=print("list: ", [1,2,3,4,5,6,7,8,9])
mytuple=print("tuple: ", ('areeba','fatima','fariha','faiza'))
myset = print("set: ", {1.2,2.3,3.4,5.6})
my_dict=print("dictionary: ", {'areeba':'A','fatima':'B','fariha':'C','faiza':'D'})

list:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
tuple:  ('areeba', 'fatima', 'fariha', 'faiza')
set:  {1.2, 2.3, 3.4, 5.6}
dictionary:  {'areeba': 'A', 'fatima': 'B', 'fariha': 'C', 'faiza': 'D'}

In [96]:
mybool=4>2
print(mybool)

True

In [10]:
text="""I'M HERE
I'm 21
I'm student of Ai"""
print(text)
print('Number of occurrence of E:', text.count('E'))

I'M HERE
I'm 21
I'm student of Ai
Number of occurrence of E: 2

In [11]:
worde = "student"
if worde in text:
    print(f"the word {worde}", "..found!")
else:
    print(text, "..not found!")

the word student ..found!

In [17]:
text[3:8]

' HERE'

In [26]:
s = 'this if is you not are a reading very this good then way you to have hide done a it message wrong'
l = s.split()
for x in range(0, len(l), 2):
    print(l[x])

this
is
not
a
very
good
way
to
hide
a
message

In [27]:
s[::-1]

'gnorw egassem ti a enod edih evah ot uoy yaw neht doog siht yrev gnidaer a era ton uoy si fi siht'

In [31]:
s[-5:-1]

'wron'